body {
    background-image:url('popcorn.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-family: monospace;
}
.navi {
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: top;
    justify-content: space-between;
    font-weight: bold;
}
.navi ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navi ul li a {
    text-decoration: none;
    color:#000000;
    text-transform: uppercase;
    font-family: sans-serif;
}
.navi ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navi ul li:hover::after {
    width: 100%;
}
.forMovie h1 {
    text-align: center;
    font-family: monospace;
    font-size: 230%;
}
.forMovie h4 {
    text-align: center;
    font-family: monospace;
    font-size: 130%;
}
.forDes p {
    text-align: center;
    font-family: monospace;
    font-size: 145%;
    color:#000000;
}
a:link {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}